{% extends 'base.html' %}
{% block content %}
<h1 class='title'>Skincare Routine Builder</h1>
    <div class='about-containter'>
        <p class='subtitle is-6'>Skincare Routine Builder is an application for you to add all of your favorite products and build the routine that works for you.</p>
        <p class='subtitle is-6'> Start out on the products page and build your routine from there.</p>
        <p class='subtitle is-6'> Add products you love to your favorites. </p>
    </div>

{% endblock %}