{% extends 'base.html' %} 
{% block content %}
<div class="columns">
    <div class='column'>
    <div class=" image-smaller">
        <div class="card-image ">
          <figure class="image is-fullwidth">
            <img src="{{brand.img}}" alt="{{brand.name}}" />
          </figure>
        </div>
    </div>
    </div>
    <div class='column'>
        <h1 class='title'>{{brand.brand}}</h1>
        <h3 class='subtitle'>{{brand.name}}</h3>
        <a href="{{brand.link}}" target='_blank' class="button is-info">Buy Product</a>
        <br/>
        <br/>
        <a href="{% url 'brand_update' brand.pk %}" class="button is-info">Update Product</a>
        <br/>
        <br/>
        <a href="{{brand.link}}" target='_blank' class="button is-info">Add to Routine</a>
        <br/>
        <br/>
        <a href="{{brand.link}}" target='_blank' class="button is-info">Add to Favorites</a>
       
    </div>
</div>

{% endblock %}