{% extends 'base.html' %}
{% block content %}
<h1 class='title'> Favorites</h1>
<hr/>
<div class="home_favorites">
    {% for favorite in favorites %}
        <div class="favorite mb-5">
            {% for brand in favorite.brands.all %}
            <br/>
            <div class='columns'>
            <div class="card-image column">
                <figure class="image is-128x128">
                    <a href="{% url 'brand_detail' brand.pk %}" >
                        <img src="{{brand.img}}" alt="{{brand.name}}" />
                    </a>
                </figure>
              </div>
                <div class="brand column is-half">
                    <a href="{% url 'brand_detail' brand.pk %}" class='text-is-black'>
                        <span><b>{{brand.brand}}</b></span>
                        <span>{{brand.name}}</span>
                    </a>
                </div>
                <div class='column'>
                    <span>
                        <a href="{% url 'favorite_brand_assoc' favorite.pk brand.pk %}?assoc=remove">
                        <span class="icon is-small has-text-danger">
                            <i class="fas fa-solid fa-ban"></i>
                       
                        </a>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <br/>
        <br/>
    {% empty %} 
        <div class="routine mb-5">"There are no products in your favorites."</div>
    {% endfor %}
</div>
{% endblock %}